---
import Gallery from "../../components/Gallery.astro";
import Timeline from "../../components/Timeline.astro";
import familyData from "../../data/families.json"; // Ruta correcta para el JSON

// Función getStaticPaths para generar las rutas dinámicas
export async function getStaticPaths() {
    // Función para normalizar el apellido, eliminando acentos y caracteres especiales
    function normalizeString(str) {
        return str
            .normalize("NFD") // Descompone caracteres acentuados en sus partes base
            .replace(/[\u0300-\u036f]/g, "") // Elimina los acentos
            .toLowerCase() // Convierte todo a minúsculas
            .replace(/\s+/g, "-"); // Reemplaza los espacios con guiones
    }

    // Generamos una ruta para cada familia en el archivo JSON
    const paths = familyData.map((family) => ({
        params: { apellido: normalizeString(family.Familia) }, // Normalizamos el apellido
        props: { family }, // Pasamos los datos de la familia como props
    }));

    console.log(paths); // Verificamos que las rutas se están generando correctamente

    return paths;
}

// Obtenemos los props de la familia
const { family } = Astro.props;

// Fecha del evento
const targetDate = new Date("2024-12-14T13:30:00");

function getTimeLeft(targetDate) {
    const now = new Date();
    const difference = targetDate - now;

    const days = Math.floor(difference / (1000 * 60 * 60 * 24));
    const hours = Math.floor((difference / (1000 * 60 * 60)) % 24);
    const minutes = Math.floor((difference / 1000 / 60) % 60);
    const seconds = Math.floor((difference / 1000) % 60);

    return { days, hours, minutes, seconds };
}

const timeLeft = getTimeLeft(targetDate);

// Construimos el texto del link de WhatsApp
let whatsappMessage = `La familia ${family.Familia?.trim()} desea confirmar su asistencia a la celebración de la boda de Alice y Mike el día 14 de diciembre. Agradecemos su atención y esperamos compartir este hermoso día con ustedes.`;

// Dinámicamente construimos la cantidad de adultos y niños
const invitados = family.Adultos ? `${family.Adultos} Adultos` : "";
const niños = family.Ninos ? `${family.Ninos} Niños` : "";
const totalInvitados = invitados + (niños ? `, ${niños}` : "");
---

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Alice & Mike | Nuestra Boda</title>
        <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.svg" />
        <link href="/style/style.css" rel="stylesheet" />
    </head>
    <body>
        <!-- SECCIÓN PRINCIPAL -->
        <section
            class="relative h-screen bg-cover flex items-end justify-center bg-center bg-bottom py-24 bg-fixed m-[10px] md:m-[10px] px-[30px]"
            style="background-image: url(/img/main.jpg);"
        >
            <div
                class="bg-black bg-opacity-10 w-full h-full absolute top-0 left-0"
            >
            </div>
            <div
                class="relative z-10 text-center text-white flex flex-col gap-8"
            >
                <img src="/img/logo.svg" class="h-24" />
                <h3
                    class="text-xl md:text-4xl font-extralight tracking-[24px] font-playfair uppercase"
                >
                    Nuestra Boda
                </h3>

                <h1
                    class="relative text-6xl md:text-8xl font-playfair tracking-wider uppercase text-center before:absolute before:content-[''] before:w-20 before:h-[1px] before:bg-white before:-left-24 before:top-1/3 before:transform before:-translate-y-1/2 after:absolute after:content-[''] after:w-20 after:h-[1px] after:bg-white after:-right-24 after:top-1/3 after:transform after:-translate-y-1/2"
                >
                    Alice & Mike
                </h1>

                <!-- Renderizamos la familia y los invitados -->
                <div
                    class="text-2xl md:text-3xl font-extralight tracking-[0.4px]"
                >
                    <p>
                        Familia: <span class="italic font-normal"
                            >{family.Familia.trim()}</span
                        >
                    </p>
                    <p>{totalInvitados}</p>
                </div>

                <!-- Botón de Confirmar Asistencia con link dinámico de WhatsApp -->
                <a
                    href={`https://wa.me/522462325464?text=${encodeURIComponent(whatsappMessage)}`}
                    target="_blank"
                    class="relative inline-block px-4 md:px-8 mx-auto py-5 font-medium italic text-white border border-[0.5px] border-white overflow-hidden group transition-colors duration-300 uppercase tracking-[3px]"
                >
                    <span
                        class="absolute inset-0 w-full h-full bg-white transition-transform duration-500 ease-out transform translate-x-full group-hover:translate-x-0"
                    ></span>
                    <span
                        class="relative z-10 transition-colors duration-300 group-hover:text-primary"
                    >
                        Confirmar asistencia
                    </span>
                </a>
            </div>
        </section>

        <section>
            <div
                class="max-w-5xl mx-auto text-center py-24 justify-center flex flex-col items-center gap-12 px-[20px]"
            >
                <h2
                    class="text-4xl md:text-5xl relative font-extralight italic text-primary before:absolute before:content-[''] before:w-20 before:h-[1px] before:bg-primary before:-left-24 before:top-1/2 before:transform after:absolute after:content-[''] after:w-20 after:h-[1px] after:bg-primary after:-right-24 after:top-1/2 after:transform"
                >
                    Aparta <span class="font-normal">la Fecha</span>
                </h2>
                <span
                    class="uppercase text-3xl lg:text-5xl font-extralight italic"
                    ><span class="text-7xl md:text-9xl font-light">14</span> de <span
                        class="text-5xl md:text-7xl font-light">Diciembre</span
                    > de <span class="text-5xl md:text-7xl font-light"
                        >2024</span
                    ></span
                >
                <span class="tracking-wider text-3xl font-extralight"
                    >Faltan</span
                >
                <div
                    id="countdown"
                    class="countdown grid grid-cols-4 gap-4 md:gap-12 text-center"
                >
                    <div
                        class="flex flex-col gap-2 uppercase text-base text-center"
                    >
                        <span
                            id="days"
                            class="text-5xl md:text-7xl text-primary font-light italic"
                        ></span>
                        <span
                            class="font-extralight tracking-wider text-lg md:text-xl"
                            >días</span
                        >
                    </div>
                    <div
                        class="flex flex-col gap-2 uppercase text-base text-center"
                    >
                        <span
                            id="hours"
                            class="text-5xl md:text-7xl text-primary font-light italic"
                        ></span>
                        <span
                            class="font-extralight tracking-wider text-lg md:text-xl"
                            >horas</span
                        >
                    </div>
                    <div
                        class="flex flex-col gap-2 uppercase text-base text-center"
                    >
                        <span
                            id="minutes"
                            class="text-5xl md:text-7xl text-primary font-light italic"
                        ></span>
                        <span
                            class="font-extralight tracking-wider text-lg md:text-xl"
                            >minutos</span
                        >
                    </div>
                    <div
                        class="flex flex-col gap-2 uppercase text-base text-center"
                    >
                        <span
                            id="seconds"
                            class="text-5xl md:text-7xl text-primary font-light italic"
                        ></span>
                        <span
                            class="font-extralight tracking-wider text-lg md:text-xl"
                            >segundos</span
                        >
                    </div>
                </div>
                <h3
                    class="text-4xl md:text-6xl italic font-extralight tracking-[0.8px]"
                >
                    para Nuestra <span class="font-normal">Boda</span>
                </h3>
                <div class="grid grid-cols-1">
                    <!-- Card de Liverpool -->
                    <div
                        class="aspect-video bg-white bg-opacity-50 justify-center border border-primary py-12 px-8 md:p-20 flex flex-col gap-8 items-center relative"
                    >
                        <img
                            src="/img/flower.png"
                            alt="Lugar"
                            class="h-28 absolute -bottom-[55px]"
                        />
                        <img
                            src="/img/icons/lugar.svg"
                            alt="Lugar"
                            class="h-28"
                        />
                        <h2 class="text-4xl md:text:6xl text-primary italic">
                            Ceremonia & recepción
                        </h2>
                        <p
                            class="text-lg text-gray-600 mb-4 font-light tracking-[1px]"
                        >
                            <span class="uppercase text-2xl mb-4"
                                >Salón Olimpo</span
                            >
                            <br />Calle Xicohtencatl <span class="font-serif"
                                >#35</span
                            ><br />San Hipolito Chimalpa Tlaxcala, Tlaxcala
                        </p>
                        <a
                            href="https://g.co/kgs/7qUwYCd"
                            target="_blank"
                            class="relative inline-block px-8 mx-auto py-5 font-medium text-primary border border-primary overflow-hidden group transition-colors duration-300 uppercase tracking-widest"
                        >
                            <span
                                class="absolute inset-0 w-full h-full bg-primary transition-transform duration-500 ease-out transform translate-x-full group-hover:translate-x-0"
                            ></span>
                            <span
                                class="relative z-10 transition-colors duration-300 group-hover:text-white"
                                >VER UBICACIÓN</span
                            >
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <hr />
        <section
            class="py-12 md:py-32 mx-auto px-[20px] bg-primary bg-opacity-10"
        >
            <p
                class="text-base md:text-3xl !leading-snug text-center text-black tracking-[0.8px] font-extralight max-w-[1300px] mx-auto"
            >
                En el <span class="font-normal">verano del 2023</span>, todo
                parecía incierto porque no estaba en nuestros planes tener una
                relación, <span class="text-primary font-normal"
                    >pero sí en los de Dios.</span
                > Con miedo e incertidumbre comenzamos esta historia. Hoy, después
                de un año, caminamos con la seguridad de que tenemos
                <span class="text-primary font-normal">un mismo propósito</span>
                y deseo de empezar <span class="text-primary font-normal"
                    >una nueva familia.</span
                > Sabemos que <span class="text-primary font-normal"
                    >nuestro amor y el que sentimos hacia Dios nos permitirá
                    disfrutar esta nueva etapa.</span
                >
            </p>
        </section>
        <hr />
        <!-- Sección de información -->
        <section class="bg-white bg-opacity-60 py-12 lg:py-24 px-2 md:px-8">
            <div
                class="max-w-8xl mx-auto justify-center items-center flex flex-col gap-12 lg:gap-20 text-center"
            >
                <div class="flex flex-col gap-4">
                    <h3 class="text-xl md:text-2xl font-light tracking-[0.8px]">
                        Con la bendición de
                    </h3>
                    <h2
                        class="text-4xl md:text-6xl relative font-extralight text-primary before:absolute before:content-[''] before:w-20 before:h-[1px] before:bg-primary before:-left-24 before:top-1/2 before:transform after:absolute after:content-[''] after:w-20 after:h-[1px] after:bg-primary after:-right-24 after:top-1/2 after:transform"
                    >
                        Nuestros <span class="font-normal italic">Padres</span>
                    </h2>
                </div>
                <div
                    class="grid md:grid-cols-2 gap-8 tracking-[0.8px] font-extralight"
                >
                    <p class="text-xl md:text-4xl">
                        <span class="font-normal">María del Carmen</span>
                        Angulo Hernández<br /><span class="font-normal"
                            >Miguel</span
                        > Sánchez Portilla
                    </p>
                    <p class="text-xl md:text-4xl">
                        <span class="font-normal">Elizabeth</span> Suárez Rivero
                        <br /><span class="font-normal">Benjamín</span> Cedillo Rodriguez
                    </p>
                </div>
            </div>
        </section>
        <Gallery />
        <Timeline />

        <section
            class="py-12 md:py-24 px-4 md:px-8 bg-cover bg-opacity-10 bg-gradient-to-b from-primary-10 to-transparent"
        >
            <div class="max-w-6xl mx-auto text-center flex flex-col gap-12">
                <div class="flex flex-col gap-6 items-center">
                    <h2
                        class="text-4xl md:text-6xl relative font-extralight text-primary before:absolute before:content-[''] before:w-20 before:h-[1px] before:bg-primary before:-left-24 before:top-1/2 before:transform after:absolute after:content-[''] after:w-20 after:h-[1px] after:bg-primary after:-right-24 after:top-1/2 after:transform"
                    >
                        Mesa de <span class="italic font-normal">Regalos</span>
                    </h2>
                    <p
                        class="text-xl md:max-w-2xl font-extralight
                        mx-auto tracking-[0.8px]"
                    >
                        Tu presencia es nuestro mayor regalo, pero si deseas
                        contribuir de otra manera a nuestra matrimonio, <span
                            class="font-normal"
                            >hemos preparado estas opciones para ti.</span
                        >
                    </p>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
                    <!-- Card de Liverpool -->
                    <div
                        class="aspect-video bg-white justify-center border border-primary py-12 px-8 md:p-20 flex flex-col gap-4 items-center"
                    >
                        <img
                            src="/img/liverpool.svg"
                            alt="Logo de Liverpool"
                            class="h-12"
                        />
                        <p class="text-2xl font-medium text-primary mb-4">
                            <span class="font-extralight">Número de mesa:</span>
                            51430482
                        </p>
                        <a
                            href="https://mesaderegalos.liverpool.com.mx/milistaderegalos/51430482"
                            target="_blank"
                            class="relative inline-block px-8 mx-auto py-5 font-medium text-primary border border-primary overflow-hidden group transition-colors duration-300 uppercase tracking-widest"
                        >
                            <span
                                class="absolute inset-0 w-full h-full bg-primary transition-transform duration-500 ease-out transform translate-x-full group-hover:translate-x-0"
                            ></span>
                            <span
                                class="relative z-10 transition-colors duration-300 group-hover:text-white"
                                >Ir a mesa Liverpool</span
                            >
                        </a>
                    </div>
                    <div
                        class="aspect-video bg-white justify-center border border-primary py-12 px-8 md:p-20 flex flex-col gap-4 items-center"
                    >
                        <img
                            src="/img/amazon.svg"
                            alt="Logo de Liverpool"
                            class="h-28"
                        />
                        <a
                            href="https://www.amazon.com.mx/hz/wishlist/ls/1Y3XAOQ88CH6E?ref_=wl_share"
                            target="_blank"
                            class="relative inline-block px-8 mx-auto py-5 font-medium text-primary border border-primary overflow-hidden group transition-colors duration-300 uppercase tracking-widest"
                        >
                            <span
                                class="absolute inset-0 w-full h-full bg-primary transition-transform duration-500 ease-out transform translate-x-full group-hover:translate-x-0"
                            ></span>
                            <span
                                class="relative z-10 transition-colors duration-300 group-hover:text-white"
                                >Ir a Wishlist de Amazon</span
                            >
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="relative overflow-hidden m-[10px] md:m-[40px]">
            <div
                class="absolute w-full h-full border border-white m-[10px] z-20"
                style="width: calc(100% - 20px); height: calc(100% - 20px);"
            >
            </div>
            <img
                src="/img/01.jpg"
                class="w-full md:h-[90vh] object-cover object-center absolute h-full fixed"
            />
            <p
                class="text-base lg:text-2xl !leading-relaxed text-center font-light max-w-[1300px] mx-auto z-20 py-44 relative text-white px-[30px] tracking-[0.8px]"
            >
                [<span class="font-cormorand">9</span>] Es mejor ser dos que
                uno, porque ambos pueden ayudarse mutuamente a lograr el éxito.
                [<span class="font-cormorand">10</span>] Si uno cae, el otro
                puede darle la mano y ayudarle; pero el que cae y está solo, ese
                sí que está en problemas. [<span class="font-cormorand">11</span
                >] Del mismo modo, si dos personas se recuestan juntas, pueden
                brindarse calor mutuamente; pero ¿cómo hace uno solo para entrar
                en calor? [<span class="font-cormorand">12</span>] Alguien que
                está solo puede ser atacado y vencido, pero si son dos, se ponen
                de espalda con espalda y vencen; mejor todavía si son tres,
                porque una cuerda triple no se corta fácilmente.
                <br /><br />
                <span class="text-lg md:text-2xl uppercase"
                    >Eclesiastés <span class="font-cormorand">4:9-12</span> NTV</span
                >
            </p>
        </section>

        <iframe
            id="youtubePlayer"
            width="0"
            height="0"
            src="https://www.youtube.com/embed/_DwDAm93hso?autoplay=1&mute=0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        >
        </iframe>

        <style>
            #youtubePlayer {
                position: absolute;
                top: -9999px;
                left: -9999px;
                width: 0;
                height: 0;
                visibility: hidden;
            }
        </style>
        <section class="bg-white bg-opacity-60 py-24 px-2 md:px-8">
            <div
                class="max-w-8xl mx-auto justify-center items-center flex flex-col gap-20 text-center"
            >
                <div class="flex flex-col gap-6">
                    <img src="../img/icons/dresscode.svg" class="h-36" />
                    <h2
                        class="text-4xl md:text-6xl relative font-extralight text-primary before:absolute before:content-[''] before:w-20 before:h-[1px] before:bg-primary before:-left-24 before:top-1/2 before:transform after:absolute after:content-[''] after:w-20 after:h-[1px] after:bg-primary after:-right-24 after:top-1/2 after:transform"
                    >
                        Código de Vestimenta: <span
                            class="font-normal italic text-4xl md:text-6xl"
                            >Formal</span
                        >
                    </h2>
                    <h3
                        class="text-xl md:text-3xl font-extralight tracking-[0.8px]"
                    >
                        <span class="font-normal">No vestidos blancos,</span>
                        ni colores que se asemejen.
                    </h3>
                </div>
            </div>
        </section>

        <section
            class="py-32 min-h-[100vh] px-4 md:px-8 flex flex-col gap-12 justify-center items-center text-white text-center bg-center bg-cover bg-fixed"
            style="background-image: url(/img/07.jpg);"
        >
            <div class="w-full h-full bg-black bg-opacity-20 absolute z-10">
            </div>
            <img src="/img/logo.svg" class="h-24 z-20 relative" />
            <h3
                class="text-2xl md:text-4xl font-extralight tracking-[24px] font-playfair z-20 relative"
            >
                NUESTRA BODA
            </h3>

            <h1
                class="relative z-20 text-6xl md:text-8xl font-playfair tracking-wider uppercase text-center before:absolute before:content-[''] before:w-20 before:h-[1px] before:bg-white before:-left-24 before:top-1/3 before:transform before:-translate-y-1/2 after:absolute after:content-[''] after:w-20 after:h-[1px] after:bg-white after:-right-24 after:top-1/3 after:transform after:-translate-y-1/2"
            >
                Alice & Mike
            </h1>
            <!-- Renderizamos la familia y los invitados -->
            <div
                class="text-2xl md:text-3xl font-extralight tracking-[0.4px] relative z-20"
            >
                <p>
                    Familia: <span class="italic font-normal"
                        >{family.Familia.trim()}</span
                    >
                </p>
                <p>{totalInvitados}</p>
            </div>

            <!-- Botón de Confirmar Asistencia con link dinámico de WhatsApp -->
            <a
                href={`https://wa.me/522462325464?text=${encodeURIComponent(whatsappMessage)}`}
                target="_blank"
                class="relative z-20 inline-block px-8 mx-auto py-5 font-medium italic text-white border border-[0.5px] border-white overflow-hidden group transition-colors duration-300 uppercase tracking-[3px]"
            >
                <span
                    class="absolute inset-0 w-full h-full bg-white transition-transform duration-500 ease-out transform translate-x-full group-hover:translate-x-0"
                ></span>
                <span
                    class="relative z-10 transition-colors duration-300 group-hover:text-primary"
                >
                    Confirmar asistencia
                </span>
            </a>
        </section>

        <script>
            const targetDate = new Date("2024-12-14T13:30:00");
            function updateCountdown() {
                const now = new Date();
                const difference = targetDate - now;

                const days = Math.floor(difference / (1000 * 60 * 60 * 24));
                const hours = Math.floor((difference / (1000 * 60 * 60)) % 24);
                const minutes = Math.floor((difference / 1000 / 60) % 60);
                const seconds = Math.floor((difference / 1000) % 60);

                document.getElementById("days").textContent = days;
                document.getElementById("hours").textContent = hours;
                document.getElementById("minutes").textContent = minutes;
                document.getElementById("seconds").textContent = seconds;
            }

            setInterval(updateCountdown, 1000);
            updateCountdown(); // Inicializa el contador al cargar la página
        </script>
    </body>
</html>
